

/* * {
    margin: 0;
    padding: 0;
} */

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
div,ul,li{
    box-sizing: border-box;
}
body {
    font-family: MicrosoftYaHei, 'PingFang SC', "Helvetica Neue", Helvetica, arial, STHeiTi, sans-serif,"MicrosoftYaHei";
    background-color: #F4F6FA;
    
}


a {
    text-decoration: none;
    color: #262626;
}
ol, ul {
	list-style: none;
}
ul,li{ padding:0;margin:0;}
input,textarea{
    border: none;    
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mr14 {
    margin-right: 14px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}
.el-message-box {
    vertical-align: inherit !important;
}

.el-message-box__header {
    padding: 0px !important;
}
.el-message-box__content {
    padding: 32px 34px !important;
}